# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build

### Intellij ###

.idea/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Emacs ###
*~
\#*\#
.\#*
