# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
/build/

# Ignore eclipse specific configuration file
.project
.classpath
.settings

# Ignore all bin directories
bin/



### Intellij ###

.idea/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

### Emacs ###
*~
\#*\#
.\#*
