# Ignore Gradle project-specific cache directory
.gradle/
gradle/

# Ignore Gradle build output directory
/build/

# Ignore gradle scripts
gradlew*

# Ignore eclipse specific configuration file
.project
.classpath
.settings

# Ignore all bin directories
bin/

# Ignore temporary files
.settings/

# editor specific ignores
# Intellij
.idea/

# File-based project format
*.iws

# IntelliJ
out/

# mpeltonen/sbt-idea plugin
.idea_modules/

# Emacs
*~
\#*\#
.\#*

# ignore txt files
*.txt

# ignore TEX output
auto/
*.aux
*.log
*.nav
*.out
*.pdf
*.snm
*.synctex.gz
*.toc
